$BG-COLOR-PRIMARY: #3B71CA;
$BG-COLOR-SECONDARY: #9FA6B2;
$BG-COLOR-SUCCESS: #14A44D;
$BG-COLOR-DANGER: #DC4C64;
$BG-COLOR-WARNING: #E4A11B;
$BG-COLOR-INFO: #54B4D3;
$BG-COLOR-LIGHT: #FBFBFB;
$BG-COLOR-DARK: #332D2D;
