/* You can add global styles to this file, and also import other style files */
@import "base";
@import "variables";
@import "reset";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}


.error {
  --mdc-snackbar-supporting-text-color: #FBFBFB;
  --mdc-snackbar-container-color: red;
}

.success {
  --mdc-snackbar-supporting-text-color: #FBFBFB;
  --mdc-snackbar-container-color: #14A44D;
}

.warning {
  --mdc-snackbar-supporting-text-color: #FBFBFB;
  --mdc-snackbar-container-color: #DC4C64;
}

.info {
  --mdc-snackbar-supporting-text-color:#FBFBFB;
  --mdc-snackbar-container-color: #54B4D3;
}

.my-custom-snackbar {
  position: absolute !important;
  left: 65% !important;
  bottom: 85% !important;
}
